<fieldset>
    <legend><h3 class="bordeau">Administration</h3></legend>
	<a href="{{ path('adminProduits_index') }}">Gestion des Produits</a><br><br>
	<a href="{{ path('adminCategories_index') }}">Catégories produits</a><br><br>
	<a href="{{ path('adminUtilisateurs_index') }}">Clients</a><br><br>
	<a href="{{ path('adminCommande') }}">Commandes</a><br><br>
	<a href="{{ path('adminPages') }}">Gestion des Pages</a><br><br>
	<a href="{{ path('adminPublic_index') }}">Public produits</a><br><br>
	<a href="{{ path('adminAvis_index') }}">Gestion des Avis</a><br><br>
	<a href="{{ path('adminStatistiques_index') }}">Statistiques</a><br><br>
	<a href="{{ path('panierAbandonne') }}">Abandon Panier</a><br>
</fieldset>