{% extends '::layoutAdmin.html.twig' %}

{% block body %}
    <div>
        <h2 class="centre ind">Edition du public</h2>
    </div>

    <div>
		{{ form_start(edit_form, {'action': path('adminPublic_update', { 'id' : entity.id }), 'method': 'PUT' }) }}
		<p>
			{{ form_label(edit_form.name) }}
			{{ form_widget(edit_form.name) }}
		</p>
		<br>
		<div>
			<p>
				<a href="{{ path('adminPublic_index') }}" class="bouton1">Retour à la liste</a>
			</p>
			<p>
				{{ form_widget(edit_form.submit) }}
			</p>
				{{ form_end(edit_form) }}
			<p>
				{{ form(delete_form) }}
			</p>
		</div>
    </div>
{% endblock %}