{% extends '::layoutAdmin.html.twig' %}

{% block body %}
    <div>
        <h2 class="ind">Ajouter un public visé</h2>
    </div>

    <div>
		{{ form_start(form, {'action': path('adminPublic_create'), 'method': 'POST' }) }}
		<p>
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
		</p>
		<div>
			<p>
				<a href="{{ path('adminPublic_index') }}" class="bouton1">Retour à la liste</a>
			</p>
			<p>
				{{ form_widget(form.submit) }}
			</p>
		</div>
		{{ form_end(form) }}
    </div>
{% endblock %}