<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block titre %}Jeux - By Jeannot{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="{% block motsCles %}{% endblock %}"/>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    {% block stylesheets %}
	  <link rel="stylesheet" href="{{ asset('css/jeux.css') }}">
	  <link rel="stylesheet" href="{{ asset('css/stars.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/logo.png') }}"/>
</head>
<body id="bodyAdmin">
<div class="container">
    <header class="ind" id="headAdmin">
		<div class="hautCote">
			<a href="{{ path('jeu_article_homepage') }}"><img src="{{ asset('img/logo2.jpg') }}" alt="logo"></a>
		</div>
		<div class="hautCentre">
				
			<div class="centre hautMilieu wid">
				<div class="wid flex">
							<div class="hautCache">
						<a href="{{ path('jeu_article_homepage') }}"><img src="{{ asset('img/logo2.jpg') }}" alt="logo" width="60px"></a>
					</div>
					<h1 class="bordeau titre">JeuxDeSociété</h1>
					<div class="hautCache">
						<a href="{{ path('jeu_article_homepage') }}"><img src="{{ asset('img/logo2.jpg') }}" alt="logo" width="60px"></a>
					</div>
				</div>
				<div>
					<h2 class="bordeau">VOUS ETES EN MODE ADMINISTRATION</h2>
				</div>			
			</div>
			<div class="menu wid">
				<a href="{{ path('jeu_article_homepage') }}">Boutique</a>
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<a href="{{ path('fos_user_profile_show') }}">Profil</a>
					<a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
				{% endif %}
			</div>	
		</div>	
		<div class="hautCote">
			<a href="{{ path('jeu_article_homepage') }}"><img src="{{ asset('img/logo2.jpg') }}" alt="logo"></a>
		</div>
    </header>

    <div class="section padb">

        <div class="sidebar">
            {% include '::modulesUsed/navigationAdmin.html.twig' %}
        </div>
        <div id="content" class="pad">
            {% block body %}{% endblock %}
        </div>
    </div>
	<footer id="footerAdmin">
				<div class="footer centre">		
					<h4>Informations</h4>
					{{ render(controller('JeuPagesBundle:Pages:menu')) }}
				</div>					
				<div class="footer centre">		
					<p class=" title is-5 indieflower">Copyright {{ "now"|date('Y') }} - <b>Geek-Street</b> (<a
								href="http://audoinjean95300.com" target="_blank">jeannot95</a>)</p>
				</div>
				<div class="footer centre">		
						<h4>Nous contacter</h4>
						<p>Tel : 06.20.00.00.00</p>
						<p>Fax : 01.20.00.00.00</p>
				</div>
	</footer>
</div>
<script src="{{ asset('bundles/jeupages/ckeditor/ckeditor.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>