{% extends "JeuUserBundle::layout.html.twig" %}

{% block title %}
  Facture - {{ parent() }}
{% endblock %}

{% block jeu_article_body %}

<h2>Votre Facture</h2>

  {% block fos_user_content %}
   <div class="container space-around">
        <div>
            <div>

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="danger">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                <div>
                    <div>
                        <article>
                            <h2>Vos factures</h2>
                        </article>
						<span class="ind">Nombres total de commandes :</span><span class="ind tomate"> {{ factures|length }}</span>
                    </div>
                </div>

                <div>
                    <div>
                        <article>
                            <table >
                                <thead>
                                    <tr>
                                        <th>Références</th>
                                        <th>Date</th>
                                        <th>Prix TTC</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if factures|length == 0 %}
                                        <tr>
                                            <td colspan="4">Aucune facture actuellement</td>
                                        </tr>
                                    {% endif %}
                                    {% for facture in factures %}
                                        <tr>
                                            <td>ref : {{ facture.reference }}</td>
                                            <td>{{ facture.date|date('d/m/Y') }}</td>
                                            <td>{{ facture.commande.prixTTC }} €</td>
                                            <td><a href="{{ path('facturePDF', { 'id' : facture.id }) }}" target="_blank" title="Consulter le PDF">PDF</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </article>
                    </div>
                </div>
				  {% if factures is not empty %}
				  <br>
				  <div class="centre">
					  <div class="pagination">
						{% for p in range(1, nbPages) %}
						  {# <li{% if p == page %} class="active"{% endif %} > #}
							<a href="{{ path('jeu_user_factures', {'page': p}) }}" {% if p == page %} class="active"{% endif %}>{{ p }}</a>
						 {# </li> #}
						{% endfor %}
					  </div>
				  </div>
				  {% endif %} 
				  <br>
            </div>
		</div>
	</div>
  {% endblock fos_user_content %}
  
{% endblock %}