{% extends "JeuArticleBundle::layout2.html.twig" %}

{% set totalHT = 0 %}

{% block title %}
  Panier - {{ parent() }}
{% endblock %}

{% block jeu_article_body %}

<h2>Votre panier</h2>

  {% block fos_user_content %} 
	  {#% if articles is defined %}
	  {{ dump(articles) }}
	  {% endif %#}
	  {% for flashMessage in app.session.flashbag.get('success') %}
		<div class="success">
			{{ flashMessage }}
		</div>	
	  {% endfor %}
	<table class="centre">
		<thead>
			<tr>
				<th class="text-center">Nom du jeu</th>
				<th class="text-center">Prix HT</th>
				<th class="text-center">Supprimer</th>
			</tr>
		</thead>
		<tbody>
		{% if articles|length == 0 %}
			<tr><td colspan="3" class="centre">Aucun article dans votre panier</td></tr>
		{% endif %}
		{% for article in articles %}
			<tr>
				<td>{{ article.titre }}</td>
				<td>{{ article.prix }} €</td>
				<td> <a href="{{ path('jeu_article_supprimer_panier', {'id': article.id}) }}" ><strong class="em12"> &#128465; </strong></a></td>
			</tr>
			{% set totalHT = totalHT + article.prix %}
		{% endfor %}
		</tbody>
	</table><hr>
	{% if articles|length != 0 %}
		<dl class="right padr bold">
					<dt>Total HT </dt><dd class="padb10">{{ totalHT }} €</dd>
					<dt>TVA 20% </dt><dd class="padb10">{{ totalHT*0.2 }} €</dd>
					<dt>Total TTC</dt><dd class="padb10">{{ totalHT*1.2 }} €</dd>
		</dl>
		<div class="clear"></div>
		<div class="right">
			<a href="{{ path('jeu_article_livraison') }}" class="bouton2">Valider mon panier</a>
			<a href="{{ path('jeu_article_homepage') }}" class="bouton1">Continuer mes achats</a>
		</div>
	{% else %}
		<div class="right">
			<a href="{{ path('jeu_article_homepage') }}" class="bouton1">Continuer mes achats</a>
		</div>
	{% endif %}
  {% endblock fos_user_content %}
  
{% endblock %}




