
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Jeu de Société{% endblock %}</title>

    {% block stylesheets %}
      <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
	  <link rel="stylesheet" href="{{ asset('css/jeux.css') }}">
	  <link rel="stylesheet" href="{{ asset('css/stars.css') }}">
	  <link rel="stylesheet" href="{{ asset('css/boutons.css') }}">
    {% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('img/logo2.jpg') }}"/>
  </head>

  <body>
  <div class="container">
    <header class="ind">
		<div class="hautCote">
			<a href="{{ path('jeu_article_homepage') }}"><img src="{{ asset('img/logo2.jpg') }}" alt="logo"></a>
		</div>
		<div class="hautCentre">
				
			<div class="centre hautMilieu wid">
				<div class="wid flex">
							<div class="hautCache">
						<a href="{{ path('jeu_article_homepage') }}"><img src="{{ asset('img/logo2.jpg') }}" alt="logo" width="60px"></a>
					</div>
					<h1 class="vertfonce titre">JeuxDeSociété</h1>
					<div class="hautCache">
						<a href="{{ path('jeu_article_homepage') }}"><img src="{{ asset('img/logo2.jpg') }}" alt="logo" width="60px"></a>
					</div>
				</div>
				<div>
						
					<p class="it">
						Ce projet est propulsé par Symfony, et construit dans le cadre de mes études à IFOCOP.
					</p>
				</div>			
			</div>
			<div class="menu wid" id="menu">
				<ul>
					<li><a href="{{ path('jeu_article_homepage') }}">Boutique</a></li>
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					{% if is_granted("ROLE_SUPER_ADMIN") %}
						<li><a href="{{ path('admin') }}">Administration</a></li>
					{% endif %}
					<li><a class="menuprofil">Mon compte</a>
						<ul class="sousmenu">
							<li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
							<li><a href="{{ path('fos_user_profile_edit') }}">Editer mes informations</a></li>
							<li><a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a></li>
							<li><a href="{{ path('jeu_user_factures') }}">Mes factures</a></li>
							<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
						</ul>
					</li>		
				{% else %}
					<li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
					<li><a href="{{ path('fos_user_registration_register') }}">S'enregistrer</a></li>
				{% endif %}
				</ul>
			</div>	
		</div>	
		<div class="hautCote">
			<a href="{{ path('jeu_article_homepage') }}"><img src="{{ asset('img/logo2.jpg') }}" alt="logo"></a>
		</div>
    </header>
    <div class="section padb">
      <div class="sidebar">
		<fieldset>
			<legend><h3>Les jeux</h3></legend>
        
          <a href="{{ path('jeu_article_homepage') }}">Accueil</a><br><br>
          <a href="{{ path('meilleurVente') }}">Top Ventes</a><br>
		  {% if app.request.get('_route') == 'jeu_article_recherche' %}
		  <h3>Recherche</h3>
			{{ form_start(form, {'attr': {'class': 'form-horizontal','id': 'form', 'method': 'post'}}) }}
			<div>
              {{ form_label (form.categories, "Categories", {'label_attr': {'class': 'ind orange'}}) }} 
              {{ form_widget(form.categories, {'attr' : {'class' : 'categoriesclass span3'}}) }}
              {{ form_errors(form.categories) }}
            </div><br>
			<div>
              {{ form_label (form.publicJeu, "Public concerné", {'label_attr': {'class': 'ind orange'}}) }}
              {{ form_widget(form.publicJeu, {'attr' : {'class' : 'publicJeuclass span3','name':'publicJeu'}}) }}
              {{ form_errors(form.publicJeu) }}
            </div>
			{{ form_end(form) }}
		  {% else %}
		  <br><a href="{{ path('jeu_article_recherche') }}">Rechercher un jeu</a>
		  {% endif %}
        </fieldset>
		

		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<br>
			{% if is_granted("ROLE_SUPER_ADMIN") %}
			Vous êtes Super Admin<br>
			{% endif %}
		<fieldset><legend><h3>{{ app.user.username }}</h3></legend>	
			<a href="{{ path('fos_user_profile_show') }}"> Profil</a><br><br>
			{{ render(controller('JeuArticleBundle:Panier:menu')) }}<br>
			<a href="{{ path('jeu_user_factures') }}"> Mes factures</a><br><br>
			<a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
		{% endif %}
		</fieldset>
      </div>
	  <!-- <hr> -->
      <div id="content" class="pad">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    

    <footer>	
		<div class="footer centre">		
			<h4>Informations</h4>
				{{ render(controller('JeuPagesBundle:Pages:menu')) }}
		</div>	
		<div class="footer centre">	
			<h4>Réseaux sociaux</h4>
			<a href="http://twitter.com/share" class="twitter-share-button" 
			  data-count="vertical" data-via="InfoWebMaster">Tweet</a>
			<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
				<script type="text/javascript" src="http://platform.linkedin.com/in.js"></script>
				<script type="in/share" data-counter="top"></script>
				<g:plusone size="tall"></g:plusone>
				<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
				{lang: 'fr'}
				</script>
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.1';
				fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
				<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>					
				<p class=" title is-5 indieflower">Copyright {{ "now"|date('Y') }} - <b>Geek-Street</b> (<a
						href="http://audoinjean95300.com" target="_blank">jeannot95</a>)</p>
		</div>				
		<div class="footer centre">		
			<h4>Nous contacter</h4>
			<p>Tel : 06.00.00.00.00</p>
			<p>Fax : 01.00.00.00.00</p>
		</div>						
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script>
	// When the user scrolls the page, execute myFunction 
		window.onscroll = function() {myFunction()};

		// Get the header
		var menu = document.getElementById("menu");

		// Get the offset position of the navbar
		var sticky = menu.offsetTop;

		// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
		function myFunction() {
		  if (window.pageYOffset > sticky) {
			menu.classList.add("sticky");
		  } else {
			menu.classList.remove("sticky");
		  }
		}
	</script>
  {% endblock %}

  </body>
</html>