{% extends '::layoutAdmin.html.twig' %}

{% block body %}
    <div>
        <h2 class="centre ind">Edition d'une page</h2>
    </div>
    <div>
		{{ form_start(edit_form) }}
		<p>
			{{ form_row(edit_form.titre) }}
			{{ form_row(edit_form.contenu) }}
		</p>
		<div>
			<p>
				{{ form_row(edit_form.submit)}}
			</p>
			<p>
			{{ form_end(edit_form) }}
			</p>
			<p>
				<a href="{{ path('adminPages') }}" class="bouton1">Retour</a>
			</p>
			<p class="control">
				{{ form(delete_form) }}
			</p>
		</div>
    </div>
{% endblock %}