{% extends '::layoutAdmin.html.twig' %}

{% block body %}
    <div>
        <h2 class="centre ind">Creation d'une page</h2>
    </div>
    <div>
		{{ form_start(form) }}
		<p>
			{{ form_label(form.titre) }}
			{{ form_widget(form.titre) }}
		</p>
		<p>
			{{ form_label(form.contenu) }}
			{{ form_widget(form.contenu) }}
		</p>
		<div>
			<p>
				{{ form_widget(form.submit) }}
			</p>
			{{ form_end(form) }}
			<p>
				<a href="{{ path('adminPages') }}" class="bouton1">Retour</a>
			</p>
		</div>
    </div>
{% endblock %}