{% extends '::layoutAdmin.html.twig' %}

{% block body %}
    <div>
        <h2 class="centre ind">Details de la page</h2>
    </div>
    <div>
		<table>
			<tbody>
			<tr>
				<th>Id</th>
				<td>{{ entity.id }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ entity.titre }}</td>
			</tr>
			<tr>
				<th>Contenu</th>
				<td>{{ entity.contenu|raw }}</td>
			</tr>
			</tbody>
		</table>
		<br />
		<nav>
			<div>
				<p>
					<a href="{{ path('adminPages') }}" class="bouton1">Retour a la liste des pages</a>
				</p>
				<p>
					<a href="{{ path('adminPages_edit', { 'id': entity.id }) }}" class="bouton2">Editer</a>
				</p>
				<p>{{ form(delete_form) }}</p>
			</div>
		</nav>
    </div>
{% endblock %}