{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

<h3>Formulaire d'article</h3>

<div class="well">
	{{ form_start(edit_form, {'attr': {'class': 'form-horizontal'},'action': path('adminProduits_update', { 'id' : entity.id }), 'method': 'PUT' }) }}
  {{ form_errors(edit_form) }}

  {% if form.date_de_sortie is defined %}
	{{ form_row(form.date_de_sortie) }}
  {% endif %}	


  <div class="form-group">

    {{ form_label(edit_form.titre, "Titre de l'article", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}


    {{ form_errors(edit_form.titre) }}

    <div class="col-sm-8">
      {{ form_widget(edit_form.titre, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(edit_form.description, "Description de l'article", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(edit_form.description) }}
    <div class="col-sm-8">
      {{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="form-group">
	{{ form_label(edit_form.prix, "Prix de l'article", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
	<div class="col-sm-8">  
	{{ form_widget(edit_form.prix, {'attr': {'class': 'form-control'}}) }}
	</div>
  </div>
  <div class="form-group">
	{{ form_label(edit_form.dateDeSortie, "Sortie de l'article", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
	<div class="col-sm-8">  
	{{ form_widget(edit_form.dateDeSortie, {'attr': {'class': 'form-control'}}) }}
	</div>
  </div>  <div class="form-group">
	{{ form_label(edit_form.ageMin, "Age minimum", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
	<div class="col-sm-8">  
	{{ form_widget(edit_form.ageMin, {'attr': {'class': 'form-control'}}) }}
	</div>
  </div>  <div class="form-group">
	{{ form_label(edit_form.ageMax, "Age maximum", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
	<div class="col-sm-8">  
	{{ form_widget(edit_form.ageMax, {'attr': {'class': 'form-control'}}) }}
	</div>
  </div>  <div class="form-group">
	{{ form_label(edit_form.duree, "Temps de jeu", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
	<div class="col-sm-8">  
	{{ form_widget(edit_form.duree, {'attr': {'class': 'form-control'}}) }}
	</div>
  </div>  <div class="form-group">
	{{ form_label(edit_form.nbJoueurMin, "Nombre de joueur minimum", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
	<div class="col-sm-8">  
	{{ form_widget(edit_form.nbJoueurMin, {'attr': {'class': 'form-control'}}) }}
	</div>
  </div>  <div class="form-group">
	{{ form_label(edit_form.nbJoueurMax, "Nombre de joueur maximum", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
	<div class="col-sm-8">  
	{{ form_widget(edit_form.nbJoueurMax, {'attr': {'class': 'form-control'}}) }}
	</div>
  </div> 
  Ajoutez une Image
  {{ form_row(edit_form.image.file) }} <br>
 {{ form_row(edit_form.categories) }}  
	<br><br>
	{{ form_row(edit_form.publicJeu) }}
  {{ form_widget(edit_form.save, {'attr': {'class': 'btn btn-primary'}}) }}

                    <p class="control">
                        <a href="{{ path('adminProduits_index') }}" class="button is-info is-outlined">Retour à la liste</a>
                    </p>	 
  {{ form_rest(edit_form) }}

  {{ form_end(edit_form) }}
</div>