
<h3>Formulaire d'article</h3>

<div class="flex3">
	<div class="wid33 pad">
		{{ form_start(edit_form, {'action': path('adminProduits_update', { 'id' : entity.id }), 'method': 'PUT' }) }}
		{{ form_errors(edit_form) }}

		{% if form.date_de_sortie is defined %}
			{{ form_row(form.date_de_sortie) }}
		{% endif %}	

		<div>
			{{ form_label(edit_form.titre, "Titre de l'article") }}
			{{ form_errors(edit_form.titre) }}
			<div>
				{{ form_widget(edit_form.titre) }}
			</div>
		</div>

		<div>
			{{ form_label(edit_form.description, "Description de l'article") }}
			{{ form_errors(edit_form.description) }}
			<div>
			  {{ form_widget(edit_form.description) }}
			</div>
		</div>
		<div>
			{{ form_label(edit_form.prix, "Prix de l'article") }}
			<div>  
				{{ form_widget(edit_form.prix) }}
			</div>
		</div>
		<div>
			{{ form_label(edit_form.dateDeSortie, "Sortie de l'article") }}
			<div>  
				{{ form_widget(edit_form.dateDeSortie) }}
			</div>
		</div><br>  
		<div>
			{{ form_label(edit_form.ageMin, "Age minimum") }}
			<div>  
				{{ form_widget(edit_form.ageMin) }}
			</div>
		</div>  
		<div>
			{{ form_label(edit_form.ageMax, "Age maximum") }}
			<div>  
				{{ form_widget(edit_form.ageMax) }}
			</div>
		</div>
		
		<div>
			{{ form_label(edit_form.duree, "Temps de jeu") }}
			<div>  
				{{ form_widget(edit_form.duree) }}
			</div>
		</div>
	</div>	
	<div class="wid33 pad">		
		<div>
			{{ form_label(edit_form.nbJoueurMin, "Nombre de joueur minimum") }}
			<div>  
				{{ form_widget(edit_form.nbJoueurMin) }}
			</div>
		</div> 		
		<div>
			{{ form_label(edit_form.nbJoueurMax, "Nombre de joueur maximum") }}
			<div>  
				{{ form_widget(edit_form.nbJoueurMax) }}
			</div>
		</div>	
		<br>
		<div>
			{{ form_label(edit_form.image.file,"Image") }}
			<div>
				{{ form_widget(edit_form.image.file) }}
			</div>
		</div>		
		<br>
		<div>
			{{ form_label(edit_form.categories,"Catégories") }}
			<div class="select2">	
				{{ form_widget(edit_form.categories) }}
			</div>
		</div>		
		<br>
		<div>
			{{ form_label(edit_form.publicJeu,"Public concerné") }}
			<div class="select">
				{{ form_widget(edit_form.publicJeu) }}
			</div>
		</div>
	</div>	
	<div class="wid33 pad">		
		<br>
		{{ form_widget(edit_form.save,{'attr': {'class': 'bouton2'}}) }}
		<p>
			<a href="{{ path('adminProduits_index') }}" class="bouton1">Retour à la liste</a>
		</p>	 
		{{ form_rest(edit_form) }}

		{{ form_end(edit_form) }}
	</div>	
</div>