{% extends "JeuArticleBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block jeu_article_body %}

  <h2 class="ind">Liste des jeux</h2>

    {% for article in articles %}
		<div class="flex3 mar">
			<div>
				{% if article.image is not null %}
					<img
					src="{{ asset(article.image.webPath) }}"
					alt="{{ article.image.alt }}"
					width="160" height="160">
				{% endif %}
			</div>
			<div class="pad">	
				<a href="{{ path('jeu_article_view', {'id': article.id}) }}" class="ind size">
				{{ article.titre }} 
				</a><em>sorti le {{ article.dateDeSortie|date('d/m/Y') }}</em> 
				 <br> 
				
				{% set notes = 'Pas encore de note !' %}
				{% for n in note %} 
					{% if n.titre == article.titre %}						
							{#{ n.moyenne }#} {% set notes = '' %}
					<div class="star-ratings-css" title="{{ n.moyenne }}/5">
					  <div class="star-ratings-css-top" style="width: {{ n.moyenne * 20 }}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
					  <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
					</div>
					{% endif %} 				
				{% endfor %}
				{{ notes }}
				<br>
				<span title="de {{ article.nbJoueurMin }} à {{ article.nbJoueurMax }} joueurs">
				<img src="{{ asset('img/people.png')}}" width="20" class="pad">  {{ article.nbJoueurMin }}-{{ article.nbJoueurMax }}</span>
				<span title="de {{ article.ageMin }} à {{ article.ageMax }} ans">
				<img src="{{ asset('img/age3.png')}}" width="20" class="pad">  {{ article.ageMin }}-{{ article.ageMax }}
				<span title="Durée moyenne d'une partie : {{ article.duree }} minutes">
				<img src="{{ asset('img/minutes.png')}}" width="20" class="pad">  {{ article.duree }} '<br><br>
				<span class="ind orange">Catégories </span>: {% for cat in article.categories %}{% if not loop.last %}{{ cat.name }},{% else %}{{ cat.name }}{% endif %}{% endfor %}<br>
				<span class="ind orange">Public concerné</span> : {{ article.publicJeu.name }}<br>
				<span class="ind orange size2">{{article.prix * 1.2}} €</span><br>
			</div>
		</div>
		<hr>
    {% else %}
      Pas (encore !) d'articles
    {% endfor %}
 {#{ dump(note) }#}
  {% if articles is not empty %}
  <br>
  <div class="centre">
	  <div class="pagination">
		{% for p in range(1, nbPages) %}
		  {# <li{% if p == page %} class="active"{% endif %} > #}
			<a href="{{ path('jeu_article_homepage', {'page': p}) }}" {% if p == page %} class="active"{% endif %}>{{ p }}</a>
		 {# </li> #}
		{% endfor %}
	  </div>
  </div>
  {% endif %} 
  <br>
  <hr>
{% endblock %}
