{% extends "JeuArticleBundle::layout.html.twig" %}

{% block title %}
  TOP VENTES - {{ parent() }}
{% endblock %}

{% block jeu_article_body %}
{% set tour = 0 %}
  <h2>TOP VENTES</h2>
		{% for id,ref in total %}
			{% if tour < 5 %}
				<div>
				{% for article in arts %}
					{% if ref[2] == article.id  %}
					<div class="flex3 mar">
						<div>
							<img src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}" width="160" height="160">
						</div>
						<div class="pad">	
							<a href="{{ path('jeu_article_view', {'id': article.id}) }}" class="ind size">
								{{ article.titre }} 
							</a><em>sorti le {{ article.dateDeSortie|date('d/m/Y') }}</em> 
							<br> 
				
							{% set notes = 'Pas encore de note !' %}
							{% for n in note %} 
								{% if n.titre == article.titre %}						
									 {% set notes = '' %}
									<div class="star-ratings-css" title="{{ n.moyenne|slice(0,3) }}/5">
									<div class="star-ratings-css-top" style="width: {{ n.moyenne * 20 }}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
									<div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
									</div>
								{% endif %} 				
							{% endfor %}
							{{ notes }}
							<br>
							<img src="{{ asset('img/people.png')}}" width="20" class="pad">  {{ article.nbJoueurMin }}-{{ article.nbJoueurMax }}
							<img src="{{ asset('img/age3.png')}}" width="20" class="pad">  {{ article.ageMin }}-{{ article.ageMax }}
							<img src="{{ asset('img/minutes.png')}}" width="20" class="pad">  {{ article.duree }} '<br><br>
							<span class="ind orange">Catégories </span>: {% for cat in article.categories %}{% if not loop.last %}{{ cat.name }},{% else %}{{ cat.name }}{% endif %}{% endfor %}<br>
							<span class="ind orange">Public concerné</span> : {{ article.publicJeu.name }}<br>
							<span class="ind orange size2">{{article.prix * 1.2}} €</span><br>
						</div>
				</div>
			<hr>						
					{% endif %}
				{% endfor %}	
				</div>
			{% endif %}	
			{% set tour = tour + 1 %}	
		{% endfor %}		
{% endblock %}