
{% extends "JeuArticleBundle::layout.html.twig" %}

{% block title %}
  Recherche - {{ parent() }}
{% endblock %}
    {% block stylesheets %}
	{{ parent() }}
    {% endblock %}
{% block jeu_article_body %}

  <h2 class="ind">Liste des jeux</h2>
	<div id="selection">
	</div>	
{% endblock %}

  {% block javascripts %}
	{{ parent() }}
	<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
	<script>
		$(function()
		{	
				
			$("#form").change(function(event){
				console.log('ok c\'est bon');
				event.preventDefault();
				info = [];
				value1=[];
				var pub = $('#form_publicJeu').val();
				
				$("input[name='form[categories][]']:checked").each(function(ind,val){
					//console.log($(this).val());
					//console.log(val);
						info.push($(this).val());										
				});;
				//console.log(value1);
				//console.log(info);
				//console.log(pub);
				//console.log($("input[name='form[categories][]']").val());
							
				var $this = $(this);
				//var data = {};
				$.ajax({
					url: '{{ path('jeu_article_selection') }}',
					type: 'post',
					dataType: 'json',					
					data: { idpub: pub, idcat: info },										
					//processData: false,
					//contentType: false,
					success: function(response){
						console.log('ça marche');
						console.log(response);
						
						if(response != ''){
						id1 =[];
						id2=[];
						console.log(response[0].length);
						for (i = 0; i< response[0].length;i++){
							console.log(response[0][i].id);
							id1[i] = response[0][i].id.toString();							
						}
						url =[];
						url = '<a href="{{ path('jeu_article_view', {'id': 'article_id' }) }} ">';
						url = url.replace("article_id", id1[i]);
							
						result = [];						
						//console.log(result);
						for (i = 0; i< response[0].length;i++){
							//console.log(response[i].image);
							id1[i] = response[0][i].id.toString();	
							url =[];
							url = '<a href="{{ path('jeu_article_view', {'id': 'article_id' }) }} ">';
							url = url.replace("article_id", id1[i]);
							result[i] = '<div class="flex3 mar"><div><img src="/jeux/web/uploads/img/'+ response[0][i].image.id + '.jpeg" alt=" '+ response[0][i].image.alt +' " width="160" height="160"></div><div class="pad"><span class="ind bleu size2">' + url + response[0][i].titre + '</a></span>, <em>sorti le '+ response[0][i].dateDeSortie.date.substring(0,10) +'</em><br><span title="de '+ response[0][i].nbJoueurMin +' à '+ response[0][i].nbJoueurMax +' joueurs"><img src="{{ asset('img/people.png')}}" width="20" class="pad"> ' + response[0][i].nbJoueurMin + ' - ' + response[0][i].nbJoueurMax + '</span>' +
							' <span title="de '+ response[0][i].ageMin +' à '+ response[0][i].ageMax +' ans"><img src="{{ asset('img/age3.png')}}" width="20" class="pad"> ' + response[0][i].ageMin + '-' + response[0][i].ageMax + '</span>' +
							' <span title="durée moyenne d\'une partie : ' + response[0][i].duree + ' min"><img src="{{ asset('img/minutes.png')}}" width="20" class="pad"> ' + response[0][i].duree + ' min ' + '</span>' +
							'<br> <span class="ind orange">Catégorie</span> : ' + response[0][i].categories[0].name + 
							'<br> <span class="ind orange">Public concerné </span>: ' + response[0][i].publicJeu.name + 
							'<br> <span class="ind orange"> ' + response[0][i].prix + ' € TTC</span> ' + 								
							'</div></div><hr>' ;
						}
						
						$('#selection').html(result);
						} else { $('#selection').html(' Aucun résultat ne correspond à votre recherche') }
					},
					error: function(response){
						$('#selection').html(' Aucun résultat ne correspond à votre recherche');
					}
				});				
			});

		});	
	</script>		
  {% endblock %}