{% extends '::layoutAdmin.html.twig' %}

{% block body -%}
    <div>
                <h2 class="bordeau ind centre">Details du Produit</h2>
    </div>
    <div>          
		<div>
			<figure>
				<img  src="{{ asset(entity.image.webPath) }}" alt="{{ entity.image.alt }}" width="400">
			</figure>
		</div>                
		<div>
			<table>
				<tbody>
				<tr>
					<th>Id</th>
					<td>{{ entity.id }}</td>
				</tr>
				<tr>
					<th>Titre</th>
					<td>{{ entity.titre }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ entity.description }}</td>
				</tr>
				<tr>
					<th>Prix</th>
					<td>{{ entity.prix }} €</td>
				</tr>
				<tr>
					<th>Catégories</th>
					<td>{% for cat in entity.categories %}{% if not loop.last %}{{ cat.name }} ,{% else %} {{ cat.name }} {% endif %}{% endfor %}</td>
				</tr>
				<tr>
					<th>Public visé</th>
					<td>{{ entity.publicJeu.name }}</td>
				</tr>
				<tr>
				 <th>Age</th>
					<td>Min : {{ entity.ageMin }} / Max : {{ entity.ageMax }}</td>
				</tr>
				<tr>
				 <th>Durée</th>
					<td>{{ entity.duree }} minutes</td>
				</tr>
				<tr>
				 <th>Nombre de joueurs</th>
					<td>Min:{{ entity.nbjoueurMin }} / Max:  {{ entity.nbjoueurMax }}</td>
				</tr>							
				<tr>
				 <th>Date de sortie</th>
					<td>{{ entity.dateDeSortie|date('d/m/Y') }}</td>
				</tr>
				<tr>
				 <th>Date d'enregistrement</th>
					<td>{{ entity.dateEnregistrement|date('d/m/Y') }}</td>
				</tr>							
				</tbody>
			</table>
		</div>                                
		<nav>
			<div>
				<p>
					<a href="{{ path('adminProduits_index') }}" class="bouton1">Retour à la liste</a>
				</p>
				<p>
					<a href="{{ path('adminProduits_edit', { 'id': entity.id }) }}" class="bouton2">Editer</a>
				</p>
				<p>{{ form(delete_form) }}</p>
			</div>
		</nav>        
    </div>
{% endblock %}