{% extends '::layoutAdmin.html.twig' %}

{% block body %}
    <div>
		<h2 class="bordeau ind centre">Adresses de l'utilisateur</h2>
    </div>

    <div>
		{% for adresse in utilisateur.adresses %}
			<div>
				<div>
					<h4>Adresse {{ loop.index }} :</h4>
					{{ adresse.prenom }} {{ adresse.nom }}
					<br>{{ adresse.adresse }}, {{ adresse.cp }} {{ adresse.ville }} - {{ adresse.pays }}
					<br><br>
				</div>
			</div>
		{% endfor %}
		<p>
			<a href="{{ path('adminUtilisateurs_index') }}" class="bouton1">Retour à la liste</a>
		</p>		
    </div>

{% endblock %}