{% extends '::layoutAdmin.html.twig' %}

{% block body %}
    <div>
		<h2 class="centre orange ind">Liste des Utilisateurs</h2>
		<span class="ind">Nombre total d'utilisateur : </span><span class="ind tomate">{{ utilisateurs|length }}</span>
    </div>
    <div class="centre">
		<table>
			<thead>
			<tr>
				<th>Nom</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
			{% for utilisateur in utilisateurs %}
				<tr>
					<td>{{ utilisateur.username }}</td>
					<td>
						{% if utilisateur.adresses|length != 0 %}
							<a href="{{ path('adminAdressesUtilisateurs', { 'id': utilisateur.id }) }}"
							   title="Consulter les Adresses">Adresses</a>&nbsp;&nbsp;
						{% endif %}
						{% if utilisateur.commandes|length != 0 %}
							<a href="{{ path('adminFacturesUtilisateurs', { 'id': utilisateur.id }) }}"
							   title="Consulter les Factures">Factures</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
    </div>
	<br>
	<div class="centre">		
		<div class="pagination">
			{% if utilisateurs is not empty %}
				{% for p in range(1, nbPages) %}
					<a href="{{ path('adminUtilisateurs_index', {'page': p}) }}" {% if p == page %} class="active"{% endif %}>{{ p }}</a>
				{% endfor %}
			{% endif %}
		</div>
	</div>	
{% endblock %}