{% extends '::layoutAdmin.html.twig' %}

{% block body %}
    <div class="tile is-ancestor">
        <div class="tile is-parent is-12">
            <article class="tile is-child box is-12">
                <h2 class="title is-3 indieflower">Edition de la catégorie</h2>
            </article>
        </div>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-parent is-12">
            <article class="tile is-child box is-12">
                {{ form_start(edit_form, {'action': path('adminCategories_update', { 'id' : entity.id }), 'method': 'PUT' }) }}
                <p class="control">
                    {{ form_label(edit_form.name) }}
                    {{ form_widget(edit_form.name) }}
                </p>
                <br />
                <div class="control is-grouped">
                    <p class="control">
                        <a href="{{ path('adminCategories_index') }}" class="button is-info is-outlined">Retour à la liste</a>
                    </p>
                    <p class="control">
                        {{ form_widget(edit_form.submit) }}
                    </p>
                    {{ form_end(edit_form) }}
                    <p class="control">
                        {{ form(delete_form) }}
                    </p>
                </div>
            </article>
        </div>
    </div>
{% endblock %}