{% extends '::layoutAdmin.html.twig' %}

{% block body %}
    <div>
		<h2 class="bordeau ind centre">Ajouter une Catégorie</h2>
    </div>

    <div>
		{{ form_start(form, {'action': path('adminCategories_create'), 'method': 'POST' }) }}
		<p>
			{{ form_label(form.name,'Nom',{'label_attr': {'class': 'ind'}}) }}
			{{ form_widget(form.name) }}
		</p>
		<div>
			<p>
				<a href="{{ path('adminCategories_index') }}" class="bouton1">Retour à la
					liste</a>
			</p>
			<p>
				{{ form_widget(form.submit) }}
			</p>
		</div>
		{{ form_end(form) }}
    </div>
{% endblock %}