{% extends '::layoutAdmin.html.twig' %}

{% block body -%}
    <div>
		<h2 class="bordeau ind centre">Détails de la Catégorie</h2>
    </div>

	<div  style="overflow-x:auto;"">
                <table class="centre">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ entity.name }}</td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div>
                    <p>
                        <a href="{{ path('adminCategories_index') }}" class="bouton1">Retour a la liste</a>
                    </p>
                    <p>
                        <a href="{{ path('adminCategories_edit', { 'id': entity.id }) }}" class="bouton2">Editer</a>
                    </p>
                    <p>
                        {{ form(delete_form) }}
                    </p>
                </div>
    </div>
{% endblock %}