{% extends '::layoutAdmin.html.twig' %}

{% block body %}
    <div>
		<h2 class="bordeau ind centre">Liste des avis</h2>
		<p class="ind">Nombre total d'avis : <span class="tomate">{{ entities|length }}</span></p>
    </div>
    <div class="centre style="overflow-x:auto;"">
		<table>
			<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Jeux</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td><a href="{{ path('adminAvis_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
					</td>
					<td>{{ entity.titre }}</td>
					<td>{{ entity.article.titre }}</td>
					<td>
						<a href="{{ path('adminAvis_show', { 'id': entity.id }) }}">voir</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
    </div>
	<br>
	<div class="centre">
		<div class="pagination">
			{% if entities is not empty %}
				{% for p in range(1, nbPages) %}
					<a href="{{ path('adminAvis_index', {'page': p}) }}" {% if p == page %} class="active"{% endif %}>{{ p }}</a>
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}